@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="mb-2">Loan Calculator</h1>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
